#container{
  grid-template-columns: 0.4fr 1fr;
}
#sides{
  grid-template-columns: 1fr 0.6fr;
}
.dropdown .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
}
.carousel-container {
  position: relative;
  
  padding: 10px;
  margin: 0 auto;
  transform-style: preserve-3d;
}

.carousel-container img {
  position: absolute;
  width: 50px; 
  height: 50px; 

  object-fit: cover;
  animation: rotateInPlace 10s linear infinite;
}

.carousel-container img:nth-child(1) { transform: translate(0, -175px); }
.carousel-container img:nth-child(2) { transform: translate(50px, -150px); }
.carousel-container img:nth-child(3) { transform: translate(87.5px, -87.5px); }
.carousel-container img:nth-child(4) { transform: translate(150px, -50px); }
.carousel-container img:nth-child(5) { transform: translate(175px, 0); }
.carousel-container img:nth-child(6) { transform: translate(150px, 50px); }
.carousel-container img:nth-child(7) { transform: translate(87.5px, 87.5px); }
.carousel-container img:nth-child(8) { transform: translate(50px, 150px); }
.carousel-container img:nth-child(9) { transform: translate(0, 175px); }
.carousel-container img:nth-child(10) { transform: translate(-50px, 150px); }

@keyframes rotateInPlace {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active {
  color: #FF5000;
  border-left: 4px solid #FF5000;
  background-color: #FF50000A;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: block;
  font-size: 0.875rem; 
}

.sidebar {
  transition: left 0.3s ease;
}

.checkbtn {
  display: none; 
}

@media screen and (max-width: 1024px) {
  .sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
  }

  .checkbtn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px; 
    z-index: 1100;
  }

  .checkbtn img {
    width: 24px;
    cursor: pointer; 
  }

  #checkBox:checked ~ .sidebar {
    left: 0;
  }

  #checkBox:checked ~ .content {
    overflow: hidden;
    height: 100vh;
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    top: 0;
  }

  #checkBox:checked ~ .sidebar {
    left: 0;
  }
}
